<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.cranberrygame.cordova.plugin.ad.pubcenter"
    version="1.0.3">
	
    <name>Pubcenter</name>
    <description>Pubcenter</description>
    <license>MIT</license>
    <keywords>cordova,pubcenter</keywords>
    <repo>https://github.com/cranberrygame/com.cranberrygame.cordova.plugin.ad.pubcenter</repo>
 	
    <js-module src="www/pubcenter.js">
        <clobbers target="window.pubcenter" />
    </js-module>
	
    <!-- wp8 -->
    <platform name="wp8">
		<config-file target="Properties/WMAppManifest.xml" parent="/Deployment/App/Capabilities">
			<Capability Name="ID_CAP_IDENTITY_USER" />
			<Capability Name="ID_CAP_NETWORKING" />
			<Capability Name="ID_CAP_WEBBROWSERCOMPONENT" />
			<Capability Name="ID_CAP_PHONEDIALER" />
			<Capability Name="ID_CAP_MEDIALIB_PHOTO" />
        </config-file>
		
        <config-file target="config.xml" parent="/*">
            <feature name="Pubcenter">
                <param name="wp-package" value="Pubcenter"/>
            </feature>
        </config-file>

        <source-file src="src/wp8/Pubcenter.cs" />
    </platform>

</plugin>